<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="logger.xml"/>

    <bean id="client" class="springpack.Client">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="fullName" value="John Smith"/>
        <property name="greeting" value="Hello!"/>
    </bean>

    <bean id="event" class="springpack.event.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat"
          class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>



    <bean id="app" class="springpack.App">
        <constructor-arg ref="client"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref="consoleEventLogger"/>
                <entry key="ERROR" value-ref="combinedEventLogger"/>
            </map>
        </constructor-arg>
        <property name="defaultLogger" ref="cacheFileEventLogger"/>
    </bean>

</beans>